$size: 200px;
$leaf-color: #7dae41;
$trunk-color: #855726;
$bg: #0c1e42;
//------------------------------------------

.Christmas2018 {
  margin-top: $size/-2;
  margin-left: $size/-2;
  //---------------------------------
  width: $size;
  height: $size;

  border-radius: 50%;
  background-color: $bg;
  background-position: 0 0,
    // leaves-top

      $size/2$size/2.5,
    $size/2 $size/2.5,
    // leaves-middle

      $size/2$size/1.8,
    $size/2 $size/1.8,
    // leaves-bottom

      $size/2$size/1.4,
    $size/2 $size/1.4,
    // trunk

      $size/2$size/1.25,
    $size/2 $size/1.25;

  // snow -----
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: rotate(-15deg);
    background-image: radial-gradient(
        circle at 30% 30%,
        #fff 1.5%,
        transparent 2.5%
      ),
      radial-gradient(circle at 80% 70%, #fff 1.5%, transparent 2.5%),
      radial-gradient(circle at 30% 50%, #fff 1%, transparent 2%),
      radial-gradient(circle at 70% 85%, #fff 1%, transparent 2%);
    background-size: 100% 100%, 100% 100%, 50% 100%, 50% 50%;
    background-position: 0 0, 0 0, 0 0, 0 0;
    animation: snow 6s linear infinite forwards;
    @keyframes snow {
      100% {
        background-position: 0px $size, 0 $size, 0px $size, 0px $size;
      }
    }
  }
}
.Snow {
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(
        circle at 30% 30%,
        #165b33 1.5%,
        transparent 3.5%
      ),
      radial-gradient(circle at 80% 70%, #f8b229 1.5%, transparent 2.5%),
      radial-gradient(circle at 30% 50%, #bb2528 1%, transparent 2%),
      radial-gradient(circle at 70% 85%, #fff 1%, transparent 2%);
    background-size: 100% 100%, 100% 100%, 50% 100%, 50% 50%;
    background-position: 0 0, 0 0, 0 0, 0 0;
    animation: snow 7s linear infinite forwards;
    @keyframes snow {
      100% {
        background-position: 0px $size, 0 $size, 0px $size, 0px $size;
      }
    }
  }
}
